<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Python for web</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">baby Project</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/devops-img.jpeg" alt="Devops | Github [master] -> Travis -> Hekoru">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Não fique parado, continue estudando sobre DevOps!</p>
			
			<div class="devops-path path">
				<h1>DevOps Essential</h1>
				<a href="https://github.com/" class="devops-course course">
					<h2>Github</h2>
				</a><!--
				--><a href="https://travis-ci.org/" class="devops-course course">
					<h2>TravisCI</h2>
				</a><!--
				--><a href="https://www.docker.com/" class="ops-course course">
					<h2>Docker</h2>
				</a><!--
				--><a href="http://agilemanifesto.org/iso/ptbr/manifesto.html" class="ops-course course">
					<h2>Manifesto Agile</h2>
				</a><!--
				--><a href="https://xebialabs.com/the-ultimate-devops-tool-chest/open-source/" class="ops-course course">
					<h2>Test Tools | PHPUnit - JUnit - Mocha - pytest - sonarqube - Jasmine - Se - Jmeter - Gauntlt | unittest</h2>
				</a><!--
				--><a href="https://blog.sonatype.com/continuous-integration-in-pipeline-as-code-environment-with-jenkins-jacoco-nexus-and-sonarqube" class="dev-course course">
					<h2>Continuos Integration - CI: Pipeline as conde environment with Jenkins - Jacoco - Nexus and Sonarqube</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>more DevOps</h1>
				<a href="https://www.docker.com/" class="ex-course course">
					<h2>Docker</h2>
				</a><!--
				--><a href="https://www.edureka.co/blog/chef-vs-puppet-vs-ansible-vs-saltstack/" class="ex-course course">
					<h2>Compare: Ansible, Chef, Puppet and SaltStack</h2>
				</a><!--
				--><a href="https://mincong-h.github.io/2018/08/04/maven-deploy-artifacts-to-nexus/" class="ex-course course">
					<h2>Nexus</h2>
				</a><!--
				--><a href="https://www.terraform.io/" class="ex-course course">
					<h2>HashiCorp - Terraform</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
